* {
	box-sizing: border-box;
	font-family: Arial;
	font-size: 14px;
}

*:focus {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 192, 1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 192, 1);
	-ms-box-shadow: 0px 0px 4px 0px rgba(0, 0, 192, 1);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 192, 1);
	outline: none;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: white;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	max-width: 100%;
	height: 100%;
}

body {
	background-color: #f0f0f0;
}

input {
	background-color: white;
	padding: 4px;
	border: 1px solid #d0d0d0;
}

input:disabled {
	color: black;
	border-color: transparent;
}

textarea {
	border: 1px solid #d0d0d0;
	background-color: white;
	padding: 4px;
}

select {
	border: 1px solid #d0d0d0;
	background-color: white;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	padding: 4px 30px 4px 4px;
	background: transparent url("gui/images/dropdown-markup.png") no-repeat
		right center;
	appearance: none;
}
select:disabled {
	color: black;
	border-color: transparent;
	background: none;
}

option {
	white-space: nowrap;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid #d0d0d0;
}

button {
	padding: 4px;
}

button:-moz-focus-inner {
	padding: 0;
	border: 0
}

label {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	border: 1px solid #d0d0d0;
	width: 100%;
}

thead>tr {
	background: none;
	background-color: #475057;
	color: #eff0f1;
	white-space: nowrap;
}

tr {
	vertical-align: top;
}

tr:focus {
	-webkit-box-shadow: unset !important;
	-moz-box-shadow: unset !important;
	-ms-box-shadow: unset !important;
	box-shadow: unset !important;
}

tbody>tr:hover {
	background-color: #f0f0f0 !important;
}

tbody>tr:nth-child(even) {
	background-color: #f8f8f8;
}

tfoot {
	background: none;
	white-space: nowrap;
	border-top: 1px solid #d0d0d0;
}

th {
	font-weight: 400;
	text-align: left;
	padding: 5px;
	cursor: pointer;
	white-space: nowrap;
	border-right: 1px solid transparent;
}

th:last-child {
	width: 100%;
	border-right: 0;
}

th.search-icon {
	background: transparent url("gui/images/table_search.png") no-repeat 4px
		center;
	background-size: 16px 16px;
	min-width: 24px;
}

th.sortable {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

th.sort_asc {
	padding-left: 20px;
	background: transparent url("gui/images/table_sort_ascending.png")
		no-repeat left center;
}

th.sort_dsc {
	padding-left: 20px;
	background: transparent url("gui//images/table_sort_descending.png")
		no-repeat left center;
}

td {
	text-align: left;
	padding: 5px;
	cursor: pointer;
	white-space: nowrap;
	border-right: 1px dotted #d0d0d0;
}

td:last-child {
	width: 100%;
	white-space: normal;
	border-right: 0;
}

/**
 * common styles
 */
.hidden {
	display: none !important;
}

.mandatory {
	border-left: 1px solid red !important;
}

.clickable {
	cursor: hand;
}

/*---------------------------------------------------------------------------*/
.navigation-button {
	cursor: pointer;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #d0d0d0;
	border-radius: 2px;
	vertical-align: top;
	background: -webkit-linear-gradient(#f8f8f8, #e8e8e8);
	background: -o-linear-gradient(#f8f8f8, #e8e8e8);
	background: -moz-linear-gradient(#f8f8f8, #e8e8e8);
	background: -ms-linear-gradient(#f8f8f8, #e8e8e8);
	background: linear-gradient(#f8f8f8, #e8e8e8);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.navigation-button:last-child {
	margin-bottom: 0;
}

.navigation-button:active {
	background: -webkit-linear-gradient(#e8e8e8, #f8f8f8);
	background: -o-linear-gradient(#e8e8e8, #f8f8f8);
	background: -moz-linear-gradient(#e8e8e8, #f8f8f8);
	background: -ms-linear-gradient(#e8e8e8, #f8f8f8);
	background: linear-gradient(#e8e8e8, #f8f8f8);
}

.navigation-button>img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.navigation-button>span {
	margin-left: 5px;
	vertical-align: middle;
	font-weight: 600;
}

@media only screen and (min-width: 800px) {
	.navigation-button>img {
		width: 50px;
		height: 50px;
	}
}

/*---------------------------------------------------------------------------*/
/**
 * tooltip
 */
.tooltip {
	position: fixed;
	background: #ffffff;
	border: 1px solid #888888;
	padding: 10px;
	border-radius: 2px;
	-webkit-box-shadow: 2px 2px 2px #c0c0c0;
	-moz-box-shadow: 2px 2px 2px #c0c0c0;
	-ms-box-shadow: 2px 2px 2px #c0c0c0;
	box-shadow: 2px 2px 2px #c0c0c0;
	z-index: 1;
}

.tooltip:focus {
	outline: none;
}

.tooltip img {
	vertical-align: middle;
	margin-bottom: 10px;
	width: 22px;
}

.tooltip-body {
	color: black;
}

/*---------------------------------------------------------------------------*/
/**
 * popup/tooltip common styles
 */

/**
 * Pfeil oben links
 */
.popup-top-left:after, .popup-top-left:before {
	bottom: 100%;
	left: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.popup-top-left:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}

.popup-top-left:before {
	border-color: rgba(204, 0, 0, 0);
	border-bottom-color: #888888;
	border-width: 6px;
	margin-left: -6px;
}

/**
 * Pfeil oben rechts
 */
.popup-top-right:after, .popup-top-right:before {
	bottom: 100%;
	right: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.popup-top-right:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 5px;
	margin-right: -5px;
}

.popup-top-right:before {
	border-color: rgba(204, 0, 0, 0);
	border-bottom-color: #888888;
	border-width: 6px;
	margin-right: -6px;
}

/**
 * Pfeil unten links
 */
.popup-bottom-left:after, .popup-bottom-left:before {
	top: 100%;
	left: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.popup-bottom-left:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}

.popup-bottom-left:before {
	border-color: rgba(204, 0, 0, 0);
	border-top-color: #888888;
	border-width: 6px;
	margin-left: -6px;
}

/**
 * Pfeil unten rechts
 */
.popup-bottom-right:after, .popup-bottom-right:before {
	top: 100%;
	right: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.popup-bottom-right:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 5px;
	margin-right: -5px;
}

.popup-bottom-right:before {
	border-color: rgba(204, 0, 0, 0);
	border-top-color: #888888;
	border-width: 6px;
	margin-right: -6px;
}

.popup-menu-item {
	padding: 5px;
	background-color: #ffffff;
	color: #000000;
	white-space: nowrap;
}

.popup-menu-item:hover {
	background-color: #d0d0d0;
}

.avatar {
	-webkit-flex: 0 auto;
	-moz-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	border-radius: 50%;
	border: 1px solid #d0d0d0;
	margin-right: 10px;
	background-color: white;
}

@media only screen and (min-width: 600px) {
	.avatar {
		width: 64px;
		height: 64px;
	}
}

/*---------------------------------------------------------------------------*/
/**
 * all about the grid
 */
.grid {
	overflow: auto;
}

.grid-row {
	
}

.grid-row-0 {
	-webkit-flex: 0 auto;
	-moz-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

.grid-row-1 {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.grid-row-2 {
	-webkit-flex: 2;
	-moz-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

[class*='grid-row-']:before, [class*='grid-row-']:after {
	content: ' ';
	display: table;
	clear: both;
}

[class*='grid-col-'] {
	float: left;
	margin-right: 5px !important;
	margin-bottom: 10px !important;
}

.grid-col-1 {
	width: calc(50% - 5px) !important;
}

.grid-col-2 {
	width: calc(100% - 5px) !important;
}

@media only screen and (max-width: 800px) {
	.grid-col-1 {
		width: 100% !important;
	}
	.grid-col-2 {
		width: 100% !important;
	}
}

/**
 *
 */
.workspace {
	height: 100%;
	max-width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	background-color: white;
}

@media only screen and (min-width: 800px) {
	.workspace {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
		border-left: 1px solid #d0d0d0;
		border-right: 1px solid #d0d0d0;
	}
}

.workspace-title {
	display: flex;
	padding: 10px;
	-web-kit-flex: 0 auto;
	-moz-kit-flex: 0 auto;
	-ms-kit-flex: 0 auto;
	flex: 0 auto;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	background-color: #475057;
	color: #eff0f1;
	font-weight: 600;
}

.workspace-header {
	height: 25%;
	background: url('gui/images/background.jpg');
	background-size: cover;
	background-position: center center;
	-webkit-flex: 0 auto;
	flex: 0 auto;
	padding: 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.workspace-header-title {
	color: white;
	font-size: 36px;
	-webkit-flex: 0 auto;
	flex: 0 auto;
}

#workspace-body {
	max-width: 100%;
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	overflow: auto;
}

.workspace-frame {
	max-width: 100%;
	-webkit-flex: 0 auto;
	flex: 0 auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	visibility: hidden;
	height: 0;
	transition: height 0.25s;
}

.workspace-frame:last-child {
	height: 100%;
	visibility: visible;
	transition: height 0.25s;
}

.workspace-frame-body {
	max-width: 100%;
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	overflow: auto;
}

.workspace-frame-actionbar {
	-webkit-flex: 0 auto;
	flex: 0 auto;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	border-bottom: 1px solid #d0d0d0;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	-ms-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
}

.workspace-frame-action {
	-webkit-flex: 0 auto;
	flex: 0 auto;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 5px;
	margin: 5px;
}

.workspace-frame-action:hover {
	border-color: #d0d0d0;
	background: -webkit-linear-gradient(#f8f8f8, #e8e8e8);
	background: -o-linear-gradient(#f8f8f8, #e8e8e8);
	background: -moz-linear-gradient(#f8f8f8, #e8e8e8);
	background: -ms-linear-gradient(#f8f8f8, #e8e8e8);
	background: linear-gradient(#f8f8f8, #e8e8e8);
}

.workspace-frame-action>img {
	width: 32px;
	height: 32px;
}

.workspace-frame-action:active>img {
	transform: translate(1px, 1px);
}

.workspace-frame-toolbox {
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.workspace-frame-content-body {
	max-width: 100%;
	padding: 10px;
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

/**
 * alles über die MessageBox
 */
.mbox-glass {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 2;
}

.mbox-frame {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 250px;
	width: 80%;
	border: 1px solid #d0d0d0;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 5px 5px #808080;
	z-index: 1;
}

@media only screen and (min-width: 600px) {
	.mbox-frame {
		width: 700px;
	}
}

.mbox-title {
	-webkit-flex: 0 auto;
	-moz-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	padding: 10px;
	background-color: #475057;
	color: #eff0f1;
	font-weight: 600;
}

.mbox-content {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 10px;
	overflow: auto;
}

.mbox-icon {
	display: block;
	margin-bottom: 10px;
	width: 32px;
}

.mbox-footer {
	-webkit-flex: 0 auto;
	-moz-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	padding: 10px;
	border-top: 1px solid #d0d0d0;
}

.mbox-button {
	margin-right: 10px;
}

/*---------------------------------------------------------------------------*/
/**
 *
 */
.main-menu-icon {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.main-menu-icon:active {
	transform: translate(1px, 1px);
}

.main-menu-content {
	position: absolute;
	background: white;
	border-width: 1px solid #d0d0d0;
	-webkit-box-shadow: 5px 5px 5px #888888;
	-moz-box-shadow: 5px 5px 5px #888888;
	-ms-box-shadow: 5px 5px 5px #888888;
	box-shadow: 5px 5px 5px #888888;
	z-index: 1;
	padding: 5px;
	white-space: nowrap;
}

.main-menu-content:focus {
	outline: none;
}

.main-menu-content:after, .main-menu-content:before {
	bottom: 100%;
	left: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.main-menu-content:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}

.main-menu-content:before {
	border-color: rgba(204, 0, 0, 0);
	border-bottom-color: #888888;
	border-width: 6px;
	margin-left: -6px;
}

.main-menu-item {
	padding: 5px;
	background-color: #ffffff;
	color: #000000;
	font-weight: 400;
}

.main-menu-item:hover {
	background-color: #d0d0d0;
}

/*---------------------------------------------------------------------------*/
#calendar-go-back {
	background-image: url('gui/images/go-back.svg');
}

#calendar-go-fore {
	background-image: url('gui/images/go-fore.svg');
}

.calendar-day {
	padding: 5px 0 5px 0;
	-webkit-flex: 1;
	flex: 1;
	border-bottom: 1px solid #d0d0d0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
}

.calendar-day:last-child {
	border-width: 0;
}

.calendar-day-content {
	padding: 0 5px 0 5px;
	-webkit-flex: 1;
	flex: 1;
	min-height: 1em;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}

.calendar-day-title {
	white-space: nowrap;
	-webkit-flex: 1;
	flex: 1;
}

.calendar-day-time {
	white-space: nowrap;
	font-weight: 600;
	-webkit-flex: 0 auto;
	flex: 0 auto;
}

.calendar-day-open {
	border-left: 20px solid #55ff7f;
}

.calendar-day-closed {
	border-left: 20px solid #ff557f;
}

/*---------------------------------------------------------------------------*/
/**
 * all about the details view
 */
.details-section-title {
	-webkit-flex: 0 auto;
	-moz-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	background-color: #f0f0f0;	
	font-weight: 600;
	padding: 5px;
}

.details-section-body {
	
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: auto;
	padding: 5px;
}

.details-section-body>input[type='radio']:checked+.details-entry-cnr {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	-ms-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
}


.details-entry-cnr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 5px;
	margin-bottom: 5px;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.details-content-cnr {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-weight: 600;
	padding-left: 10px;
}

.details-content {
	padding: 5px;
	border: 1px solid transparent;
	border-radius: 2px;
	white-space: nowrap;
}

.details-content-selectable {
	padding: 0 30px 0 0;
	border: none;
	font-weight: 600;
	background: transparent url("gui/images/dropdown-markup.png") no-repeat
		right center;
	cursor: hand;
}

.details-namesection {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
}

.details-timesection {
	-webkit-flex: 0 auto;
	flex: 0 auto;
	font-weight: 600;
	padding-left: 10px;
}

.details-content-time {
    max-width: 6em;
}

.details-content-time:focus: {
	outline: unset;
	box-shadow: unset;
}

/**
 *
 */
.login-input-cnr {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

/*---------------------------------------------------------------------------*/
/**
 * all about the memberView
 */
.member-overview-container {
	padding: 5px 0 5px 0;
	overflow: auto;
}

.member-overview-entry {
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 1px solid #d0d0d0;
	border-radius: 2px;
	background-color: #ffffff;
}

.member-overview-entry:last-child {
	border-bottom: 1px solid transparent;
}

.member-overview-title-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.member-overview-title-row>img {
	-webkit-flex: 0 auto;
	-moz-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	border: 1px solid #d0d0d0;
	border-radius: 50%;
}

.member-overview-title-row>span {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-weight: 600;
	padding: 0 10px 0 10px;
}

.member-overview-content {
	padding-top: 10px;
	display: none;
}

.member-overview-entry>input[type='radio']:checked ~
	.member-overview-content {
	display: block;
}

/*---------------------------------------------------------------------------*/
/**
 * all about the memberView
 */
.image-radio {
	-webkit-appearance: none;
	apperance: none;
	width: 64px;
	height: 64px;
	border: 1px solid #d0d0d0;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 64px 64px;
	background-position: center;
	transition: scale 0.25s;
}

.image-radio:checked {
	transform: scale(1.1, 1.1);
	outline: none;
}

.image-radio:focus {
	outline: none;
}

.expand-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	width: 1em;
	height: 1em;
	padding: 4px;
	background: transparent url("gui/images/arrow-right.svg") no-repeat
		center center;
	background-size: 16px;
	border: none;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	-moz-transition: -ms-transform 0.2s ease-in-out;
	-ms-transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
}

.expand-button:checked {
	transform: rotate(90deg);
}

.expand-button:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	outline: none;
}