* {
	box-sizing: border-box;
	font-family: Arial;
	font-size: 14px;
}

*:focus {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 192, 1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 192, 1);
	-ms-box-shadow: 0px 0px 4px 0px rgba(0, 0, 192, 1);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 192, 1);
	outline: none;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: white;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	max-width: 100%;
	height: 100%;
}

body {
	background-color: #f0f0f0;
}

input {
	background-color: white;
	padding: 4px;
	border: 1px solid #d0d0d0;
}

input:disabled {
	color: black;
	border-color: transparent;
}

input[type="time"] {
	max-width: 6em;
}

textarea {
	border: 1px solid #d0d0d0;
	border-radius: 2px;
	background-color: white;
	padding: 4px;
	resize: none;
	height: 2em;
	transition: height 0.25s ease;
}

textarea:focus {
	height: 5em;	
}

select {
	border: 1px solid #d0d0d0;
	padding: 4px 30px 4px 4px;
	background: white url("gui/images/dropdown-markup.png") no-repeat right
		center;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	height: 2em;
}

select::-ms-expand {
	display: none;
}

select:disabled {
	color: black;
	border-color: transparent;
	background: none;
}

option {
	white-space: nowrap;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid #d0d0d0;
}

button {
	padding: 4px;
}

button:-moz-focus-inner {
	padding: 0;
	border: 0
}

label {
	vertical-align: middle;
}


/**
 * common styles
 */
.hidden {
	display: none !important;
}

.mandatory {
	border-left: 1px solid red !important;
}

.disabled {
	color: #d0d0d0;
}

.clickable {
	cursor: pointer;
}

/*---------------------------------------------------------------------------*/
/**
 * Ein paar shortcuts für den immer gleichen flexbox-kram
 */
 
.flex-0 {
	-webkit-flex: 0 auto;	
	-moz-flex: 0 auto;	
	-ms-flex: 0 auto;	
	flex: 0 auto;	
} 

.flex-1 {
	-webkit-flex: 1;	
	-moz-flex: 1;	
	-ms-flex: 1;	
	flex: 1;	
} 

.flex-col {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	
}

.flex-row {
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;	
}

/*---------------------------------------------------------------------------*/
/**
 * all about the busy indicator
 */
.busy-indicator {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.busy-indicator>img {
	width: 128px;
	height: 128px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*---------------------------------------------------------------------------*/
.navigation-button {
	cursor: pointer;
	margin-bottom: 10px;
	font-weight: 600;
}

@media only screen and (max-width: 599px) {
	.navigation-button-box {
		padding: 10px 0 10px 10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: space-evenly;
		-moz-justify-content: space-evenly;
		-ms-justify-content: space-evenly;
		justify-content: space-evenly;
	}
	.navigation-button {
		margin-left: 5px;
		margin-right: 5px;
	}
	.navigation-button:focus {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
		outline: none;
	}
	.navigation-button>img {
		padding: 5px;
		display: block;
		width: 80px;
		height: 80px;
		border: 1px solid #d0d0d0;
		border-radius: 5px;
		margin-bottom: 5px;
		margin-left: auto;
		margin-right: auto;
		background: -webkit-linear-gradient(#f8f8f8, #e8e8e8);
		background: -moz-linear-gradient(#f8f8f8, #e8e8e8);
		background: -ms-linear-gradient(#f8f8f8, #e8e8e8);
		background: linear-gradient(#f8f8f8, #e8e8e8);
		margin-right: auto;
	}
	.navigation-button>div {
		display: block;
		min-width: 80px;
		max-width: 80px;
		min-height: 2.5em;
		max-height: 2.5em;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
	}
}

@media only screen and (min-width: 600px) {
	.navigation-button-box {
		padding: 10px;
		display: block;
	}
	.navigation-button {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center; .
		ms-align-items: center;
		align-items: center;
		padding: 5px;
		border: 1px solid #d0d0d0;
		border-radius: 2px;
		vertical-align: top;
		background: -webkit-linear-gradient(#f8f8f8, #e8e8e8);
		background: -moz-linear-gradient(#f8f8f8, #e8e8e8);
		background: -ms-linear-gradient(#f8f8f8, #e8e8e8);
		background: linear-gradient(#f8f8f8, #e8e8e8);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.navigation-button:active {
		background: -webkit-linear-gradient(#e8e8e8, #f8f8f8);
		background: -moz-linear-gradient(#e8e8e8, #f8f8f8);
		background: -ms-linear-gradient(#e8e8e8, #f8f8f8);
		background: linear-gradient(#e8e8e8, #f8f8f8);
	}
	.navigation-button>img {
		width: 50px;
		height: 50px;
		vertical-align: middle;
	}
	.navigation-button>div {
		margin-left: 5px;
		vertical-align: middle;
	}
}

/*---------------------------------------------------------------------------*/
/**
 * tooltip
 */
.tooltip {
	position: fixed;
	background: #ffffff;
	border: 1px solid #888888;
	padding: 10px;
	border-radius: 2px;
	-webkit-box-shadow: 2px 2px 2px #c0c0c0;
	-moz-box-shadow: 2px 2px 2px #c0c0c0;
	-ms-box-shadow: 2px 2px 2px #c0c0c0;
	box-shadow: 2px 2px 2px #c0c0c0;
	z-index: 1;
}

.tooltip:focus {
	outline: none;
}

.tooltip img {
	vertical-align: middle;
	margin-bottom: 10px;
	width: 22px;
}

.tooltip-body {
	color: black;
}

/*---------------------------------------------------------------------------*/
/**
 * popup menu
 */
.popup-menu-cnr {
	position: fixed;
	background: #ffffff;
	border: 1px solid #888888;
	padding: 5px;
	border-radius: 2px;
	box-shadow: 2px 2px 2px #c0c0c0;
	z-index: 100;
}

.popup-menu-cnr:focus {
	outline: none;
}

/**
 * Pfeil oben links
 */
.popup-top-left:after, .popup-top-left:before {
	bottom: 100%;
	left: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.popup-top-left:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}

.popup-top-left:before {
	border-color: rgba(204, 0, 0, 0);
	border-bottom-color: #888888;
	border-width: 6px;
	margin-left: -6px;
}

/**
 * Pfeil oben rechts
 */
.popup-top-right:after, .popup-top-right:before {
	bottom: 100%;
	right: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.popup-top-right:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 5px;
	margin-right: -5px;
}

.popup-top-right:before {
	border-color: rgba(204, 0, 0, 0);
	border-bottom-color: #888888;
	border-width: 6px;
	margin-right: -6px;
}

/**
 * Pfeil unten links
 */
.popup-bottom-left:after, .popup-bottom-left:before {
	top: 100%;
	left: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.popup-bottom-left:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}

.popup-bottom-left:before {
	border-color: rgba(204, 0, 0, 0);
	border-top-color: #888888;
	border-width: 6px;
	margin-left: -6px;
}

/**
 * Pfeil unten rechts
 */
.popup-bottom-right:after, .popup-bottom-right:before {
	top: 100%;
	right: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.popup-bottom-right:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 5px;
	margin-right: -5px;
}

.popup-bottom-right:before {
	border-color: rgba(204, 0, 0, 0);
	border-top-color: #888888;
	border-width: 6px;
	margin-right: -6px;
}

.popup-menu-item {
	padding: 5px;
	background-color: #ffffff;
	color: #000000;
	white-space: nowrap;
}

.popup-menu-item:hover {
	background-color: #d0d0d0;
}

.avatar {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	border-radius: 50%;
	border: 1px solid #d0d0d0;
	margin-right: 10px;
	background-color: white;
}

@media only screen and (min-width: 600px) {
	.avatar {
		width: 64px;
		height: 64px;
	}
}

/*---------------------------------------------------------------------------*/
/**
 * all about the grid
 */
.grid {
	overflow: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;	
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.grid-row {
	
}

.grid-row-0 {
	-webkit-flex: 0 auto;
	-moz-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

.grid-row-1 {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.grid-row-2 {
	-webkit-flex: 2;
	-moz-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

[class*='grid-row-']:before, [class*='grid-row-']:after {
	content: ' ';
	display: table;
	clear: both;
}

[class*='grid-col-'] {
	float: left;
	margin-right: 5px !important;
	margin-bottom: 10px !important;
}

.grid-col-1 {
	width: calc(25% - 5px) !important;
}

.grid-col-2 {
	width: calc(50% - 5px) !important;
}

.grid-col-3 {
	width: calc(75% - 5px) !important;
}

.grid-col-4 {
	width: calc(100% - 5px) !important;
}

@media only screen and (max-width: 400px) {
	.grid-col-1 {
		width: calc(50% - 5px) !important;
	}
	.grid-col-2 {
		width: calc(100% - 5px) !important;
	}
	.grid-col-3 {
		width: calc(100% - 5px) !important;
	}
	.grid-col-4 {
		width: calc(100% - 5px) !important;
	}
}

/**
 *
 */
.workspace {
	height: 100%;
	max-width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	background-color: white;
}

@media only screen and (min-width: 600px) {
	.workspace {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
		border-left: 1px solid #d0d0d0;
		border-right: 1px solid #d0d0d0;
	}
}

.workspace-title {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	display: flex;
	padding: 10px;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	background-color: #475057;
	color: #eff0f1;
	font-weight: 600;
}

.workspace-header {
	position: relative;
	background: url('gui/images/background.jpg');
	background-size: cover;
	background-position: center center;
	padding: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	height: 10%;
}

@media only screen and (min-height: 800px) {
	.workspace-header {
		height: 20%;
	}
}

.workspace-header>span {
	color: white;
	font-size: 24px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	right: 10px;
}

@media only screen and (min-width: 600px) {
	.workspace-header>span {
		font-size: 36px;
	}
}

#workspace-body {
	max-width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	overflow: auto;
}

.workspace-frame {
	max-width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	visibility: hidden;
	height: 0;
	transition: height 0.25s;
}

.workspace-frame:last-child {
	height: 100%;
	visibility: visible;
	transition: height 0.25s;
}

.workspace-frame-body {
	max-width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	overflow: auto;
}

.workspace-frame-actionbar {
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	border-bottom: 1px solid #d0d0d0;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	-ms-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
}

.workspace-frame-action {
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 5px;
	margin: 5px 5px 5px 0;
}

.workspace-frame-action-checked {
	border-color: #c0c0c0;
	background: -webkit-linear-gradient(#e0e0e0, #f8f8f8);
	background: -moz-linear-gradient(#e0e0e0, #f8f8f8);
	background: -ms-linear-gradient(#e0e0e0, #f8f8f8);
	background: linear-gradient(#e0e0e0, #f8f8f8);
}

.workspace-frame-action>img {
	width: 32px;
	height: 32px;
}

.workspace-frame-action:active>img {
	transform: translate(1px, 1px);
}

.workspace-frame-action:hover>img {
	transform: scale(1.2, 1.2);
}

.workspace-frame-toolbox {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}

.workspace-frame-content-body {
	max-width: 100%;
	min-height: 100%;
	padding: 10px;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

@media only screen and (min-height: 400px) {
	.workspace-frame-content-body {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

/**
 * alles über die MessageBox
 */
.mbox-glass {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 2;
}

.mbox-frame {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	height: 250px;
	width: 80%;
	border: 1px solid #d0d0d0;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 5px 5px #808080;
	z-index: 1;
}

@media only screen and (min-width: 600px) {
	.mbox-frame {
		width: 500px;
	}
}

.mbox-title {
	padding: 10px;
	background-color: #475057;
	color: #eff0f1;
	font-weight: 600;
}

.mbox-content {
	padding: 10px;
	overflow: auto;
}

.mbox-icon {
	margin-bottom: 10px;
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.mbox-footer {
	padding: 10px;
	border-top: 1px solid #d0d0d0;
}

.mbox-button {
	margin-right: 10px;
}

/*---------------------------------------------------------------------------*/
/**
 *
 */
.main-menu-icon {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.main-menu-icon:active {
	transform: translate(1px, 1px);
}

.main-menu-content {
	position: absolute;
	background: white;
	border-width: 1px solid #d0d0d0;
	-webkit-box-shadow: 5px 5px 5px #888888;
	-moz-box-shadow: 5px 5px 5px #888888;
	-ms-box-shadow: 5px 5px 5px #888888;
	box-shadow: 5px 5px 5px #888888;
	z-index: 1;
	padding: 5px;
	white-space: nowrap;
}

.main-menu-content:focus {
	outline: none;
}

.main-menu-content:after, .main-menu-content:before {
	bottom: 100%;
	left: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.main-menu-content:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}

.main-menu-content:before {
	border-color: rgba(204, 0, 0, 0);
	border-bottom-color: #888888;
	border-width: 6px;
	margin-left: -6px;
}

.main-menu-item {
	padding: 5px;
	background-color: #ffffff;
	color: #000000;
	font-weight: 400;
}

.main-menu-item:hover {
	background-color: #d0d0d0;
}

/*---------------------------------------------------------------------------*/
.calendar-weekday {
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #d0d0d0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	overflow: hidden;
}

.calendar-weekday:last-child {
	border-width: 0;
}

.calendar-weekday-status {
	width: 20px;
	min-width: 20px;
}


.calendar-weekday-content {
	padding: 0 5px 0 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	padding-right: 25px; /* wegen Purifier-Symbol */
	max-width: 100%;
}

.calendar-weekday-row {
	min-height: 1em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: center;
}

.calendar-weekday-date {
	white-space: nowrap;
}

.calendar-weekday-comment {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.calendar-weekday-time {
	white-space: nowrap;
	font-weight: 600;
}

.calendar-weekday-open {
	background-color: #55ff7f;
}

.calendar-weekday-planning-gap {
	background-color: #ff557f;
}

.calendar-weekday-closed {
	background-color: #d0d0d0;
}

.calendar-today {
	font-weight: 600;
}

.calendar-monthly-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	padding-bottom: 5px;
}

.calendar-monthly-header-cell {
	text-align: center;
	font-weight: 600;
}

.calendar-monthly-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	border-top: 1px dotted #d0d0d0;
}

.calendar-monthly-row:last-child {
	border-bottom: 1px dotted #d0d0d0;
}

.calendar-monthly-day {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	border-left: 1px dotted #d0d0d0;
	overflow: hidden;
}

.calendar-monthly-day:last-child {
	border-right: 1px dotted #d0d0d0;
}

.calenday-monthly-day-header {
	text-align: center;
	padding: 5px;
}

@media only screen and (max-width: 599px) {
	.calenday-monthly-day-header {
		padding: 0px;
	}
}

.calendar-monthly-day-time {
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 2em;
}

@media only screen and (max-width: 599px) {
	.calendar-monthly-day-time {
		font-size: smaller;
	}
}

.calendar-monthly-day-open {
	background-color: #55ff7f;
}

.calendar-monthly-day-planning-gap {
	background-color: #ff557f;
}

.calendar-monthly-day-closed {
	background-color: #d0d0d0;
}

.calendar-has-purifier {
	background: transparent url("gui/images/purifier.svg") no-repeat right
		bottom;
	background-size: 24px;
}

/*---------------------------------------------------------------------------*/
/**
 * all about the details view
 */
.details-header {
	background-color: #f0f0f0;	
	padding: 5px;
	border-top: 1px solid #d0d0d0;
	font-weight: 600;
}

.details-body {
	overflow: auto;
	padding: 5px;
}

.details-body>input[type='radio']:checked+.details-entry-cnr {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	-ms-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
}

.details-entry-cnr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	padding: 5px 5px 10px 5px;
	margin-bottom: 5px;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	border-bottom: 1px dotted #d0d0d0;
}

.details-entry-cnr:last-child {
	border-bottom: none;
}

/*
.details-content-cnr {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-weight: 600;
	padding-left: 10px;
}
*/
.details-content {
	padding: 5px;
	border: 1px solid transparent;
	border-radius: 2px;
	white-space: nowrap;
}

.details-namesection {
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
}

.details-timesection {
	font-weight: 600;
	padding-left: 10px;
}

.details-comment-cnr {
	padding: 5px 5px 10px 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #d0d0d0;
}

.details-comment-cnr:last-child {
	border-bottom: none;
}

.details-body>input[type='radio']:checked+.details-comment-cnr {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	-ms-box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
	box-shadow: 0px 0px 4px 0px rgba(192, 192, 192, 1);
}

/*---------------------------------------------------------------------------*/
/**
 *
 */
.login-input-cnr {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding: 5px;
}

/*---------------------------------------------------------------------------*/
/**
 * all about the memberView
 */
.member-overview-container {
	padding: 5px 0 5px 0;
	overflow: auto;
}

.member-overview-entry {
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 1px solid #d0d0d0;
	border-radius: 2px;
	background-color: #ffffff;
}

.member-overview-entry:last-child {
	border-bottom: 1px solid transparent;
}

.member-overview-title-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 10px;
}

.member-overview-content {
	padding-top: 10px;
	display: none;
}

.member-overview-entry>input[type='radio']:checked ~
	.member-overview-content {
	display: block;
}
